/* макет furniro*/
#furniro {
    background: url(../img/Rectangle-1.png) 0 0 / cover no-repeat;
    text-align: center;
    padding-inline: 15px;
    font-family: "Poppins", sans-serif;
     color: #000;
     padding-top: 61px;
     padding-bottom: 97px;
     margin-bottom: 20px;
}
.furniro-title {
    font-weight: 500;
    font-size: 48px;
    min-height: 72px;
}
.checkout-item a {
    font-weight: 500;
    font-size: 16px;
    background-image: url(../img/dashicons_arrow-down-alt2.svg);
    background-repeat: no-repeat;
    background-position: 50px;
    padding-right: 32px;
}
.checkout-item {
    display: inline-block;
    font-weight: 300;
    font-size: 16px;
    min-height: 24px;
}
/* макет веб-дизайнер */
#catalyst {
    background-color: #030303;
}
#web-designer {
    background: #030303 url(../img/image-6.png) 0 0 / cover no-repeat ;
    text-align: center;
    font-family: "Barlow", sans-serif;
    padding-top: 94px;
    padding-bottom: 85px;
    color: #f9efec;
    margin-bottom: 35px;
}
.web-designer-title {
    font-weight: 800;
    font-size: 64px;
    line-height: 1.5;
    text-transform: uppercase;
    margin-bottom: 17px;
}
.web-designer-button {
    border-radius: 12px;
    min-width: 235px;
    background-color: #0a84ff;
    padding: 13px 78.5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-transform: capitalize; 
}
/* наступна частина макету web-designer */
    #about-web {
    font-family:"Barlow", sans-serif;
    font-weight: 400;
    border-radius: 12px;
    font-size: 16px;
    background-color: #1a1a1a;
    padding: 32px;
    color: #b3b3b2;
    max-width: 770px;
    line-height: 1.5;
    margin-left: 86px;   
}
.about-web-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #f9efec;
    margin-bottom: 12px;
}
.web-text {
    margin-bottom: 35px;
}
.web-text-last {
    margin-bottom: 24px;
}
.about-web-list {
    margin-bottom: 24px;
}
.about-web-list li {
    background: url(../img/Frame-81.png) 1px 0 / 16px 20px no-repeat;
    padding-left: 26px;
    min-height: 20px;
}